.ag-theme-quartz .ag-header {
  background-color: #e0f2f1;
}
.ag-theme-quartz .ag-root-wrapper {
  border-radius: 0;
  border: none;
}
.ag-theme-quartz .ag-paging-panel {
  background-color: #e0f2f1;
}
.floating-label-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;

  .floating-label {
    font-size: 15px;
    color: #9e9e9e;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 12px;
    transition: all 0.1s ease;
  }

  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label,
  &.has-value .floating-label {
    top: -15px;
    bottom: 0px;
    left: 0px;
    font-size: 14px;
    opacity: 1;
    color: #404040;
  }

  .input:focus ~ .floating-label,
  .input:not(:focus):valid ~ .floating-label,
  .sinput2 ~ .floating-label,
  &.has-value .floating-label {
    top: -15px;
    bottom: 0px;
    left: 0px;
    font-size: 14px;
    opacity: 1;
    color: #404040;
  }
}
